input[type="radio"]:checked + label {
	background-color: #ADD8E6;
}

input[type="radio"]:disabled + label {
	color: #BBB;
	background-color: #444;
}

#credit a {
	color:gray;
	font-style: italic;
	font-family: sans-serif;
	font-weight: lighter;
	text-decoration: none;
}