body {

margin: 0;
	/* pattern bg from bg.siteorigin.com - a tool by SiteOrigin
	- Patterns from Subtle Patterns */

/*	background-image: url("./background_patterns/blueprint_gray.png");*/
	/*background-image: url("./background_patterns/blueprint_light.png");*/ /******/ 

	/*background-image: url("./background_patterns/blueprint_greenish.png");*/  /***/
/*  background-image: url("./background_patterns/blueprint_pastel_purp.png");*/  /***/

/*background-image: url("./background_patterns/green_cup.png"); */  /******/
/*background-image: url("./background_patterns/sandpaper.png"); */   /*****/
/*background-image: url("./background_patterns/wavegrid_@2X.png"); */    /****/
/*background-image: url("./background_patterns/subtle_grunge.png"); */  /******/


background-image: url("./background_patterns/green_cup.png");

/*background-image: url("./background_patterns/pattern-8vco.png"); *//*XXXXXXXX*/
/*Attribution — You must give appropriate credit, provide a link to the license, and indicate if changes were made. You may do so in any reasonable manner, but not in any way that suggests the licensor endorses you or your use
subtlepatterns.com - and artist name */

}

#wrapper {
	margin-left: 20px;
}

header {
	z-index: 10;
	opacity: 0.9;
	position: fixed;
	transform: rotate(45deg);
	top:40px;
	right: -55px;
	background: #444;
	border-right: 50px solid #444;
	border-left: 50px solid #444;
}

.banner {
	display: block;
	height: 40px;
	color: #ccc;
}

footer {
	bottom: 0px;
	background: #333;
}

#chart_div0 {
	margin-top: 40px;
}

#chart_div0 svg {
	border-top: 10px solid #777;
	border-bottom: 10px solid #555;
	border-left: 10px solid #666;
	border-right: 10px solid #888;
	outline: 5px solid #ccc;
}

div[dir=ltr] {
	margin-left: auto;
	margin-right: auto;
	left: -25px;
}

#chart_title {
	width: 280px;
}

#refresh {
	height: 40px;
	width: 220px;
	border-radius: 10px;
	background-color: #ddd;
}

input[type="radio"] {
	display:none;
}

input[type="radio"]:checked + label {
	background-color: #ADD8E6;
}

input[type="radio"]:disabled + label {
	color: #BBB;
	background-color: #444;
}

input[type='radio'] + label span {
    display:inline-block;
    width:16px;
    height:16px;
    margin:4px;
    vertical-align:middle;
    -moz-border-radius:  50%;
    border-radius:  50%;
}

input[type="radio"] + label span {
     background-color: #666;
}

input[type="radio"]:disabled + label span {
     background-color: #333;
     cursor:default;
}

input[type="radio"]:disabled + label span .inner {
	margin-left: 2px;
	margin-top: 0px;
    width:12px;
    height:12px;
    -moz-border-radius:  50%;
    border-radius:  50%;
    background-color: #888;
}

input[type="radio"] + label span .inner {
	margin-left: 2px;
	margin-top: 0px;
    width:12px;
    height:12px;
    -moz-border-radius:  50%;
    border-radius:  50%;
    background-color: #99c199;
}

input[type="radio"]:checked + label span{
     background-color: orange;
}

#spreadsheet_file_1 {
	width: 400px;
}

#credit {
	color: #555;
}

#credit a {
	color: #555;
	font-style: italic;
	font-family: sans-serif;
	font-weight: lighter;
	text-decoration: none;
}
