body {
	margin: 0px;
	padding: 0px;
}

p {
	margin: 0px;
	padding: 0px;
}

header {
	margin: 0px;
	padding: 0px;	
}

footer {
	margin: 0px;
	padding: 0px;
}

h3 {
	margin: 0px;
	padding: 0px;
}

h4 {
	margin: 0px;
	padding: 0px;
}

a{
	margin: 0px;
	padding: 0px;
}

input{
	margin: 0px;
	padding: 0px;
}

/*button{
	margin: 0px;
}*/